<connectionStrings>
  <clear/>
  <!--<add name="HCMTConnectionString" connectionString="mongodb://tdat:Tandat131754@cluster0-shard-00-00-ouaxz.mongodb.net:27017,cluster0-shard-00-01-ouaxz.mongodb.net:27017,cluster0-shard-00-02-ouaxz.mongodb.net:27017/HCMT?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin&retryWrites=true&w=majority"/>-->
</connectionStrings>