body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
/* Custom Scroll for Chrome Only - Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
}

::-webkit-scrollbar-thumb {
    background: rgb(150, 152, 153) !important;
    -webkit-box-shadow: inset 1px 1px 2px #9b9b9b;
    -webkit-box-shadow: inset 1px 1px 2px rgba(155, 155, 155, 0.4);
}

    ::-webkit-scrollbar-thumb:hover {
        -webkit-box-shadow: inset 1px 1px 10px #000000;
        -webkit-box-shadow: inset 1px 1px 10px rgba(0,0,0,0.3);
    }

/* Custom Scroll for Chrome Only */


/*NAVIGATION BAR*/

.common-navigation .x-panel-body-default {
    background-color: #007409;
}
.app-logo {
    width: 700px !important;
    height: 60px;
    background: url('Images/banner.png') no-repeat;
    border: none
}
    .app-logo.x-btn-over.x-btn-default-small {
        background: url('Images/banner.png') no-repeat !important;
        border-color: none !important;
        background-color: none !important;
    }
    .app-logo.x-btn-focus {
        background: url('Images/banner.png') no-repeat !important;
        border-color: none !important;
        background-color: none !important;
    }
    .app-logo.x-btn-default-small {
        -webkit-border-radius: unset;
        -moz-border-radius: unset;
        -ms-border-radius: unset;
        -o-border-radius: unset;
        border-radius: unset;
        padding: 3px 3px 3px 3px;
        border-width: unset;
        border-style: unset;
        background-color: #3892d4;
    }
        .common-navigation-button.btn-account {
        width: 140px !important;
        float: right
    }
common-navigation-button.x-btn-default-small {
    padding: 18px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border-width: 0;
    border-style: solid;
    background-color: transparent;
}
.x-btn-icon-el.x-btn-icon-el-default-medium.fa-2x {
    font-size: 20px;
    line-height: 20px;
    color: white;
}
.common-navigation-button.x-btn-over.x-btn-default-small {
    background-color: #0077a9;
}

.common-navigation-button.x-btn-pressed.x-btn-default-small {
    background-color: #0077a9;
    outline: 0;
}

.common-navigation-button.x-btn-focus.x-btn-default-small {
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.common-navigation-button.x-btn-default-medium {
    padding: 14px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border-width: 0;
    border-style: solid;
    background-color: transparent;
}

.common-navigation-button.x-btn-over.x-btn-default-medium {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.common-navigation-button.x-btn-pressed.x-btn-default-medium {
    background-color: rgba(0, 0, 0, 0.1);
    outline: 0;
}

.common-navigation-button.x-btn.x-btn-menu-active.x-btn-default-medium {
    background-color: rgba(0, 0, 0, 0.1);
    outline: 0;
}

.common-navigation-button.x-btn-focus.x-btn-default-medium {
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

/*BreadScum*/
.common-navigation-button.x-btn-plain-toolbar-small {
    padding: 6px;
    color: #fff !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border-width: 0;
    border-style: solid;
    background-color: transparent;
    -webkit-border-radius: 3px;
}

.common-navigation-button.x-btn-over.x-btn-plain-toolbar-small {
    background-color: #dfeaf2;
}

.common-navigation-button.x-btn-pressed.x-btn-plain-toolbar-small {
    background-color: #dfeaf2;
    outline: 0;
}

.common-navigation-button.x-btn-focus.x-btn-plain-toolbar-small {
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.common-navigation-button.x-btn-plain-toolbar-medium {
    padding: 8px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border-width: 0;
    border-style: solid;
    background-color: transparent;
}

.common-navigation-button.x-btn-over.x-btn-plain-toolbar-medium {
    background-color: #dfeaf2;
}

.common-navigation-button.x-btn-pressed.x-btn-plain-toolbar-medium {
    background-color: #dfeaf2;
    outline: 0;
}

.common-navigation-button.x-btn-focus.x-btn-plain-toolbar-medium {
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}
/*NAVIGATION BAR*/


/*CUSTOM TOOLBAR*/
.x-toolbar-default {
    box-shadow: 3px 3px 6px rgba(0,0,0,.16), 3px 3px 6px rgba(0,0,0,.23);
    background-color: whitesmoke
}

/*CUSTOM TOOLBAR*/