body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* Custom Scroll for Chrome Only - Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
}

::-webkit-scrollbar-thumb {
    background: rgb(150, 152, 153) !important;
    -webkit-box-shadow: inset 1px 1px 2px #9b9b9b;
    -webkit-box-shadow: inset 1px 1px 2px rgba(155, 155, 155, 0.4);
}

    ::-webkit-scrollbar-thumb:hover {
        -webkit-box-shadow: inset 1px 1px 10px #000000;
        -webkit-box-shadow: inset 1px 1px 10px rgba(0,0,0,0.3);
    }

/* Custom Scroll for Chrome Only */


/*NAVIGATION BAR*/

.common-navigation .x-panel-body-default {
    background-color: #013c34;
}
.app-logo {
    width: 700px !important;
    height: 60px;
    background: url('Images/banner.png') no-repeat;
    border: none
}
    .app-logo .x-btn-over .x-btn-default-small {
        background: url('Images/banner.png') no-repeat;
        border-color: none !important;
        background-color: none !important;
    }

/*NAVIGATION BAR*/